<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="css/site.css">
  <link rel="icon" href="img/logo.png">
  <title>Reports</title>

</head>

<body>

  <nav class="navbar navbar-expand-lg fixed-top nav-color">
    <div class="container">
      <a class="navbar-brand main-link" href="#">
        <img src="img/logo.png" width="38" height="40" class="d-inline-block align-top" alt="">
        Reports</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link main-link" href="index.html">Home
            </a>
          </li>
          <li class="nav-item">
              <a class="nav-link main-link" href="members.html">Members</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link main-link" href="certification.html">Certification</a>
            <span class="sr-only">(current)</span>
          </li>
          <li class="nav-item">
            <a class="nav-link main-link" href="report.html">Reports</a>

          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Page Content -->
  <div class="container">

    <div class="row">

<!-- the reoprt table goes here-->

<br><br>

<!-- the reoprt for members with station, radio num and email is here-->
<div class="col-lg-12 my-5" id="fireGuyReport">
<h2>Firefighters contact report</h2>
<table align="center" class="table table-bordered table-hover table-striped text-center">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Position</th>
      <th scope="col">Station</th>
      <th scope="col">Radio Number</th>
      <th scope="col">Email</th>
    </tr>
  </thead>
  <tbody>
    <tr v-for="f in Firefighters">
      <td>{{ f.firstName }} {{ f.lastName }}</td>
      <td>{{ f.position }}</td>
      <td>{{ f.stationNumber }}</td>
      <td>{{ f.radioNumber }}</td>
      <td></td>
    </tr>
  </tbody>
</table>
</div>

<!-- content for filtering the first table goes here-->
<div class="col-lg-12 my-5">
<form>
  <fieldset>
    <legend>Select Filters for Firefighter Contact Report</legend>
    <div id=fireGuyFilterRN>
      <p>
        <label>Radio Number</label>
        <select id = "RadioNum">
          <option value = "All">All</option>
          <option v-for="f in FirefightersFilterRN">{{ f.radioNumber }}</option>
        </select>
      </p>
    </div>
    <div id=fireGuyFilterSN>
      <p>
        <label>Station Number</label>
        <select id = "StationNum">
          <option value = "All">All</option>
          <option v-for="f in FirefightersFilterSN">{{ f.stationNumber }}</option>
        </select>
      </p>
    </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary">Submit</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Reset</button>
      </div>
    </fieldset>
</form>
</div>

<!-- A report that lists people with expired certifications (which may be filtered by certification)-->
<div class="col-lg-12 my-5" id="expCertApp">
<h2>Expired Certification Report</h2>
<table align="center" class="table table-bordered table-hover table-striped text-center">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Position</th>
      <th scope="col">Certification</th>
      <th scope="col">Beginning Date</th>
      <th scope="col">Expiration Date</th>
    </tr>
  </thead>
  <tbody>
    <tr v-for="e in ExpCerts">
      <td>{{ e.firstName }} {{ e.lastName }}</td>
      <td>{{ e.position }}</td>
      <td>{{ e.certificationName }}</td>
      <td>{{ e.renewedDate }}</td>
      <td>{{ e.expirationDate }}</td>
    </tr>
  </tbody>
</table>
</div>

<!-- content for filtering the second table goes here-->
<div class="col-lg-12 my-5" id="expCertFilter">
<form>
  <fieldset>
    <legend>Select Filters for Expired Certificationt Report</legend>
    <div>
      <p>
        <label>Certification</label>
        <select id = "certification">
          <option value = "All">All</option>
          <option v-for="e in ExpCertsFilter">{{ e.certificationName }}</option>
        </select>
      </p>
    </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary">Submit</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Reset</button>
      </div>
    </fieldset>
</form>
</div>



    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; MSIS Team 11: Leavin' Yah Crimson</p>
      <p class="m-0 text-center text-white">Nathan - Arlie - David - Sanyam</p>
    </div>
    <!-- /.container -->
  </footer>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="js/fireGuyReport.app.js"></script>
  <script src="js/expCertApp.app.js"></script>
  <script src="js/expCertFilter.app.js"></script>
  <script src="js/fireGuyFilterRN.app.js"></script>
  <script src="js/fireGuyFilterSN.app.js"></script>
</body>

</html>
